<div class="row">

  <div id="panel" class="col s8 m8 l8">

    <h2>Modification de mot de passe</h2>

    <form #authForm="ngForm" [formGroup]="frmPasswordReset" (submit)="sendPasswordResetRequest()">

      <label class="label"> Veuillez rentrer votre adresse mail : </label>
      
        <input formControlName="email" class="form-control" type="email"  placeholder="Adresse mail">

        <div class="field">
          <button [disabled]="frmPasswordReset.invalid">
            Send Request
          </button>
        </div>
    </form>
  </div>
</div>