<app-header></app-header>

<div id="band"></div>
<input type="radio" name="item" checked="checked" id="section1" />
<input type="radio" name="item" id="section2" />
<input type="radio" name="item" id="section3" />
<input type="radio" name="item" id="section4" />

<nav class="nav">
  <label class="nav-item" for="section1"></label>
  <label class="nav-item" for="section2"></label>
  <label class="nav-item" for="section3"></label>
  <label class="nav-item" for="section4"></label>
</nav>
<section id="wallpaper1">
    <h2>Page 2</h2>
</section>
<section id="wallpaper2">
  <h2>Page 2</h2>
</section>
<section id="wallpaper3">
  <h2>Page 3</h2>
</section >
<section id="wallpaper3">
  <h2>Page 4</h2>
</section>
<div class="cover" style="top:250px !important;"></div>

<div class="row">
    <div id="accomp" class="col-5">
        <h2>L'accompagnement Stop Addict</h2>
        <h3>Facilitez l'insertion après une cure de désintoxication.</h3>
        <p>Il est parfois difficile de revenir à la vie normale après un séjour en cure.
            Pour vous aidez à récupérer votre indépendance, Stop Addict vous accompagne dans 
            votre vie quotidienne. Discrète et compacte, vous êtes libre d'utiliser la plateforme selon 
            vos besoins. 
        </p>


        <div style="display:flex;">
            <button style="margin: 5% 0 0 10%;">S'inscrire</button>
            <button style="margin: 5% 0 0 5%;">Aider</button>

        </div>
    </div>
    
    <div id="box" class="col-7">
        <div id="boxIn">
            <div style="display:flex;margin-top: 2%;">
                <div class="leftTxt" style="margin:2%;  width:50%">
                    <h2>Assistance</h2>
                    <p>L'application est suivi par de nombreux profesionnels de santé. Par conséquent, 
                        nous sommes disposés à vous assister lors de période difficile. Accèdez à des conseils et encouragements
                        sur votre page profil. </p>
                    <img style="width:15%; margin-left: 85%;" src="../../assets/images/talk.png">
                </div>
                <div class="rightTxt" style="margin:2%; width:50%">
                    <h2>Aide medical</h2>
                    <p>En cas de problèmes graves ou mineurs, l'équipe Stop Addict peut vous rediriger vers des profesionnels qui seront 
                        répondre à vos difficultés. Le service est gratuit 24h/24 et 7j/7. Renseignez-vous dans la rubrique Aide.</p>
                    <img style="width:15%; margin-right:85%;" src="../../assets/images/health.png">

                </div>
            </div>

            <div style="display:flex;">
                <div class="leftTxt" style="margin:2%; width:50%;">
                    <img style="width:15%; margin-left: 85%;" src="../../assets/images/hearth.png">

                    <h2>Entraide</h2>
                    <p>La communauté autour de Stop Addict est autant d'individus ayant eu, ou se confrontant encore aux difficultés
                        que vous pouvez subir. N'hésitez pas à vos posez vos questions, ensemble nous y arriverons.</p>
                    
                </div>
                <div class="rightTxt" style="margin:2%;width:50%; ">
                    <img style="width:15%; margin-right:85%;" src="../../assets/images/shield.png">

                    <h2>Protèger</h2>
                    <p>Nous savons les efforts nécessaire pour arriver à termes à vos objectifs. Nous souhaitons vous accompagner tout
                        au long de ce processus avec bienvaillance et respect de votre vie privée. </p>
                </div>
            </div>
        </div>
    </div>
    

</div>